
<div class="venueInfoSection">
  <div class="flex-container">
    <div class="flex-item">
      <div class="venueInfo">
        <img src="https://lh3.googleusercontent.com/-LvroGvBAXVA/WWPkQxrzvCI/AAAAAAABhv0/vpiQYmET1c8G9Loh9MFMid19kPUEFHF4gCLIBGAYYCw/w180-h180-n-k-no/" class="img-rounded" alt="Pete's Cafe and Burrito Haven">
        <span class="label venueScore">{{model.allVenues.rating}}</span>
        <span class="label venueCost">{{model.allVenues.price.currency}}</span>
        <div class="restaurantDetails">
          <h3 class="restaurantName">{{model.allVenues.name}}</h3>
          <p class="restaurantDescription">{{model.location.address}},{{model.allVenues.location.country}}</p>
          <p>{{model.url}}</p>
        </div>
      </div>
      <div class="venueActionSection">
        <button class="tipsbtn" type="button" name="button">Tips and Reviews</button>
        
      </div>
      <div class="venueReviews">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#">All Reviews</a></li>
          </ul>
        </div>
      <div class="reviewSection">
        {{#each model.allReviews as |review|}}
          {{review-details review=review}}
        {{/each}}
    </div>
  </div>
</div>
</div>
